<%- include('partials/dashboardHeaderNav') %>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">International Transfers</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <% if(transferHistory.length > 0){ %>
        <table class="table bordered-table mb-0">
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Reference</th>
              <th scope="col">IBAN Number</th>
              <th scope="col">Beneficiary</th>
              <th scope="col">Swift Code</th>
              <th scope="col">Bank Name</th>
              <th scope="col">Address</th>
              <th scope="col">Amount</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <% transferHistory.forEach(function(transfer, i){ %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= transfer.transactionId %></td>
              <td><%= transfer.IBAN %></td>
              <td><%= transfer.receiverName %></td>
              <td><%= transfer.swiftCode %></td>
              <td><%= transfer.bankName %></td>
              <td><%= transfer.address %></td>
              <td><%= transfer.amount %></td>
              <td class="text-center">
                <% if(transfer.status === 'pending'){ %>
                <span class="bg-warning-focus text-warning-main px-24 py-4 rounded-pill fw-medium text-sm">Under Review</span>
                <% }else if(transfer.status === 'confirmed'){ %>
                <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm">Approved</span>
                <% }else { %>
                <span class="bg-danger-focus text-danger-main px-24 py-4 rounded-pill fw-medium text-sm">Declined</span>
                <% } %>
              </td>
              <% const time = transfer.createdAt.toLocaleTimeString() %>
              <% const date = transfer.createdAt.toLocaleDateString() %>
              <td><%= time %> <%= date %></td>
              <td><%= transfer.description %></td>
              <td>
                <a href="/history/inter-bank-transfer?id=<%= transfer.id %>" style="padding: 10px 40px; border-radius: 5px;" class="w-32-px h-32-px bg-primary-light text-primary-600 d-inline-flex align-items-center justify-content-center">
                  <iconify-icon icon="iconamoon:eye-light"></iconify-icon> view
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% }else { %>
        <p style="text-align: center;">No Transaction Found!</p>
        <% } %>
      </div>
    </div>
  </div><!-- card end -->
</div>

<%- include('partials/dashboardFooterNav') %>