<%- include('partials/dashboardHeaderNav') %>

<div class="overflow-auto pb-3">
  <div class="row row-cols-xxxl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-4 flex-nowrap">
    <div class="col d-inline-block">
      <div class="card shadow-none border bg-gradient-start-1 h-100">
        <div class="card-body p-20">
          <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
            <div>
              <p class="fw-medium text-primary-light mb-1">Account Balance</p>
              <h6 class="mb-0">$<%= formatCurrency(user.balance) %></h6>
            </div>
            <!-- <div class="w-50-px h-50-px bg-cyan rounded-circle d-flex justify-content-center align-items-center">
              <iconify-icon icon="gridicons:multiple-users" class="text-white text-2xl mb-0"></iconify-icon>
            </div> -->
          </div>
          <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
            <!-- <span class="d-inline-flex align-items-center gap-1 text-success-main">
              <iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon> +5000
            </span> -->
            Account Number - <%= user.accountNumber %> <br>
            <%= user.accountType %>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row gy-4">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0"></h5>
      </div>
      <div class="card-body">
        <form class="row gy-3 needs-validation zelle-form">
          <div class="col-md-6">
            <label class="form-label">Beneficiary email or phone number</label>
            <input type="text" id="email" class="form-control" placeholder="Enter email or phone number">
          </div>
          <!-- general amount -->
          <div class="col-md-6">
            <label class="form-label">Amount</label>
            <input type="number" id="amount" class="form-control" placeholder="Enter Amount">
          </div>

          <div class="col-12">
            <button class="btn btn-primary-600" data-bs-toggle="modal" data-bs-target="#exampleModalDelete">Proceed</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete Event -->
<div class="modal fade zelleModal" id="exampleModalDelete" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog modal-dialog-centered">
    <div class="modal-content radius-16 bg-base">
      <div class="modal-body p-24 text-center">
        <h6 class="text-md fw-semibold text-primary-light mb-0">
          Enter 4 digit Transaction Pin
        </h6>
        <p></p>
        <input type="password" id="transactionPin" class="form-control" placeholder="****">
        <div class="d-flex align-items-center justify-content-center gap-3 mt-24">
          <button class="w-50 btn btn-primary-600 border border-primary-600 text-md px-24 py-12 radius-8 zelle-btn">
            Transfer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/dashboardFooterNav') %>